/*index*/
html,body{
    margin:0;
    padding:0;
    height: 100%;
    overflow:hidden;

}

.sfondo{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('IMG_1604.JPG');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#F8F8FF;
    padding: 50px 0;
}

.sfondo h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(3rem, 9vw, 8rem);
    font-weight: 300;
    font-style: italic;
    letter-spacing: 11px;
    text-shadow: 3px 3px 7px rgba(0,0,0,0.9);
    text-align: center;
    width: 90%;
    margin-top: 15vh;
}

.btn-dark {
    margin-bottom: 35vh;
    letter-spacing: 2x;
}

.btn-home {
    position: absolute;
    top: 30px;
    left: 30px;
    background: transparent;
    border: 2px solid #F8F8FF;
    color:  #F8F8FF;
    border-radius: 8px;
    padding: 1px 10px;
    font-size: 2.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
}

.btn-home:hover {
    background-color: rgba(248, 248, 255, 0.2);
    transform: scale(1.1);
}
/* tasto info*/
.btn-info-game {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #F8F8FF;
    color: #F8F8FF;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
    display: block;
    padding: 0;
    line-height: 1;
}

.btn-info-game span {
    position: absolute;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    line-height: 1;
}

.btn-info-game:hover {
    background: rgba(248, 248, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(248, 248, 255, 0.5);
}

#rulesModal .modal-content {
    background-color: rgb(17, 2, 46) !important;
    border: 1px solid #8c9eff !important;
    box-shadow: 0 0 20px rgba(106, 167, 241, 0.3);
    font-size: 20px;
}

/* Tasto Musica */
.btn-music-game, .btn-music-gameT {
    position: absolute;
    top: 90px;
    right: 20px; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #F8F8FF;
    color: #F8F8FF;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
    display: block;
    padding: 0;
    line-height: 1;
}

.btn-music-game span, .btn-music-gameT span {
    position: absolute;
    font-size: 30px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.btn-music-game:hover {
    background: rgba(248, 248, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(248, 248, 255, 0.5);
}
#volumeModal .modal-content {
    background-color: rgb(17, 2, 46) !important;
    border: 1px solid  #8c9eff  !important; 
    box-shadow: 0 0 20px rgba(106, 167, 241, 0.3); /* Un leggero alone azzurro per dare atmosfera */
}

/* Tasto Classifica */
.btn-leaderboard-game {
    position: absolute;
    top: 160px; 
    right: 20px; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #F8F8FF;
    color: #F8F8FF;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
    display: block;
    padding: 0;
    line-height: 1;
}

.btn-leaderboard-game span {
    position: absolute;
    font-size: 28px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.btn-leaderboard-game:hover {
    background: rgba(248, 248, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(248, 248, 255, 0.5);
}

#leaderboardModal .modal-content {
    background-color: rgb(17, 2, 46) !important;
    border: 1px solid #8c9eff !important;
    box-shadow: 0 0 20px rgba(106, 167, 241, 0.3);
}
/*login*/
.d-none {
    display: none !important;
}

/* per un'apparizione fluida */
.fade-in {
    animation: fadeIn 0.5s ease-in;
}

.fade-in-slow{
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.userform {
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    color: #F8F8FF;
    overflow: hidden;
    padding: 20px;
}

.userform::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('IMG_1604.JPG');
    background-size: cover;
    background-position: center;
    filter: blur(13px);
    z-index: -1;
}

.avatar-img {
    width: 140px;
    height: 190px;
    object-fit: cover;
    border-radius: 30%; /*cerchio*/
    border: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: grayscale(60%);
}
/*effetto quando passi con  il mouse*/
.avatar-img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

/* stile applicato all'immagine quando il radio button nascosto è selezionato */
input[type="radio"]:checked + .avatar-img {
    border-color: lightsteelblue;
    filter: grayscale(0%);
    box-shadow: 0 0 15px rgba(0, 17, 255, 0.7);
    transform: scale(1.1);
}
/*mission*/
.missione {
    background-image: linear-gradient(rgba(11, 19, 43, 0.5), rgba(11, 19, 43, 0.5)), url('mission.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100%;
}

.dossier-box {
    background-color: rgba(17, 2, 46, 0.75);
    border: 1px solid #8c9eff;
    border-radius: 15px;
    backdrop-filter: blur(7px);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    height:auto;
    max-width: 880px;
    width: 90%;
    pointer-events: auto !important;
    box-shadow: 0 0 20px rgba(106, 167, 241, 0.3) !important;
}

.avatar-mission {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid #8c9eff;
    box-shadow: 0 0 20px rgba(140, 158, 255, 0.5);
}

/* Effetto cursore lampeggiante stile terminale DOS */
.cursore::after {
    content: '|';
    animation: lampeggia 0.8s infinite;
}

@keyframes lampeggia {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Regole base per tutti gli oggetti cliccabili */
.oggetto-cliccabile {
    position: absolute;
    cursor: pointer;
    border: 2px solid rgb(202, 202, 213);
    background-color: rgba(202, 202, 213, 0.3);
    z-index: 10;
}

.blocco-interazione {
    pointer-events: none;
}

/* Personalizzazione scrollbar per taccuino */

.modal-enigma, .modal-enigma2, .modal-enigma3, .modal-enigma4 {
    max-height: 80vh; 
    overflow-y: auto;
}

.modal-enigma::-webkit-scrollbar, 
.modal-enigma2::-webkit-scrollbar, 
.modal-enigma3::-webkit-scrollbar, 
.modal-enigma4::-webkit-scrollbar {
    width: 8px; 
}

.modal-enigma::-webkit-scrollbar-track, 
.modal-enigma2::-webkit-scrollbar-track, 
.modal-enigma3::-webkit-scrollbar-track, 
.modal-enigma4::-webkit-scrollbar-track {
    background: transparent;
}

.modal-enigma::-webkit-scrollbar-thumb, 
.modal-enigma2::-webkit-scrollbar-thumb, 
.modal-enigma3::-webkit-scrollbar-thumb, 
.modal-enigma4::-webkit-scrollbar-thumb {
    background: #c6cdcadc; 
    border-radius: 10px; 
}

.modal-enigma::-webkit-scrollbar-thumb:hover, 
.modal-enigma2::-webkit-scrollbar-thumb:hover, 
.modal-enigma3::-webkit-scrollbar-thumb:hover, 
.modal-enigma4::-webkit-scrollbar-thumb:hover {
    background: rgba(176, 178, 177, 0.604); 
}

/*room1*/
 .btn-music-gameT {
    position: absolute;
    top: 10px !important;
    right: 20px; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #F8F8FF;
    color: #F8F8FF;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
    display: block;
    padding: 0;
    line-height: 1;
}
.btn-music-gameT span {
    position: absolute;
    font-size: 30px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.btn-music-gameT:hover {
    background: rgba(248, 248, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(248, 248, 255, 0.5);
}

.turing {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('room1.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.centraT {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Lo mantiene sopra a tutto il resto della stanza */
}

/* Coordinate specifiche per ogni oggetto */
.macchina-da-scrivere {
    top: 60%;
    left: 67%;
    width: 11%;
    height: 13%;
}

.mappa-mondo {
    top: 6%;
    left: 40%;
    width: 6%;
    height: 15%;
}

#room1 .schedario {
    top: 15%;
    left: 93%;
    width: 9%;
    height: 45%;
}

.scatoloni {
    top: 51%;
    left: 33%;
    width: 11%;
    height: 41%;
}

#room1 .lavagna {
    top: 7%;
    left: 17%;
    width: 17%;
    height: 40%;
}

.telefono {
    top: 60%;
    left: 56%;
    width: 7%;
    height: 7%;
}

.cappello {
    top: 80%;
    left: 5%;
    width: 10%;
    height: 10%;
}

.modal-enigma {
    font-family: 'Playfair Display', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 1.5vw;
    box-shadow: 0 0 20px rgba(22, 208, 143, 0.364);
}

.modal-content {
    background-color: #0e2929dc !important;
    pointer-events: auto !important;
}

.warning {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    font-size: 1.7vw;
    color: #4ecea6;
    text-shadow: 1px 1px 2px #000000;
}

.playfair {
    color: #e3e0e2;
}

.avatar-imm {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    pointer-events: auto;
}

.avatar-imm img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid #60df9d74;
    box-shadow: 0 0 20px #60df9d74;
    background-color: rgba(17, 2, 46, 0.7); 
}

/*room2*/
.curie {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('room2.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Coordinate specifiche per ogni oggetto */
.bilancia {
    top: 54%;
    left: 85%;
    width: 21%;
    height: 35%;
}

.foglio {
    top: 36%;
    left: 26%;
    width: 5%;
    height: 13%;
}

.pozioni {
    top:40%;
    left:37%;
    width:13%;
    height:25%;
}

.tavolo {
    top:73%;
    left:3%;
    width:25%;
    height:27%;
}

.scaffale {
    top:33%;
    left:60.5%;
    width:5%;
    height:20%;
}

.lavagna2 {
    top: 30%;
    left: 69%;
    width: 11%;
    height: 25%
}

.equazione-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.modal-enigma2 {
    font-family: 'Playfair Display', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 1.5vw;
    box-shadow: 0 0 20px rgba(200, 113, 222, 0.45);

}

.modal-content.modal-enigma2 {
    background-color: #200427ce !important;
}

.warning2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    font-size: 1.7vw;
    color: #b28cff;
    text-shadow: 1px 1px 2px #000000;
}

.playfair2 {
    color: #e3e0e2;
}

.avatar-imm2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    pointer-events: auto;
}

.avatar-imm2 img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid #b28cff;
    box-shadow: 0 0 20px rgba(140, 158, 255, 0.5);
    background-color: rgba(17, 2, 46, 0.7);
}

/*room3*/
.einstein{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('room3.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cassetti {
    top: 60%;
    left: 60%;
    width: 18%;
    height: 40%;
}

.mobile {
    top:70%;
    left:42%;
    width:17%;
    height:20%;
}

.tavolo2 {
    top: 60%;
    left: 17%;
    width: 20%;
    height: 17%;
}

.lavagna-einstein {
    top: 24%;
    left: 30.5%;
    width: 36%;
    height: 34%;
}

.ritratto {
    top: 20%;
    left: 23%;
    width: 6%;
    height: 25%;
}

.mappamondoE {
    top:5%;
    left:80.5%;
    width:10%;
    height:20%;
}

.luna{
    top:18%;
    left:67%;
    width:7%;
    height:20%;
}

.modal-enigma3 {
    font-family: 'Playfair Display', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 1.5vw;
    box-shadow: 0 0 20px #6ec2cd85;
}

.modal-content.modal-enigma3 {
    background-color: #241e21e8 !important;
}

.warning3 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    font-size: 1.7vw;
    color: #6ec2cd;
    text-shadow: 1px 1px 2px #000000;
}

.playfair3 {
    color: #e3e0e2;
}

.avatar-imm3 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    pointer-events: auto;
}

.avatar-imm3 img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid  #6ec2cdad;
    box-shadow: 0 0 20px #6ec2cdb0;
    background-color: rgba(17, 2, 46, 0.7);
}


/* room4 */

.lovelace{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('room4.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mappamondo2 {
    top: 45%;
    left: 52%;
    width: 8%;
    height: 15%;
}

.camino {
    top: 41%;
    left: 61%;
    width: 17%;
    height: 30%;
}

.libreria {
    top: 1%;
    left: 85%;
    width: 12%;
    height: 58%;
}

.appunti {
    top: 63%;
    left: 27%;
    width: 13%;
    height: 20%;
}

.orologio {
    top:2%;
    left:37%;
    width:5%;
    height:17%;
}

.lampada {
    top:39%;
    left:18%;
    width:7%;
    height:21%;

}

.quadro {
    top:3%;
    left:62%;
    width:15%;
    height:30%;
}

.libri {
    top: 63%;
    left: 77%;
    width: 13%;
    height: 25%;
}

.modal-enigma4 {
    font-family: 'Playfair Display', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 1.5vw;
    box-shadow: 0 0 20px #f28ec86d;
}

.modal-content.modal-enigma4 {
    background-color: #2a0f1bdd !important;
}

.warning4 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    font-size: 1.7vw;
    color: #f28ec8;
    text-shadow: 1px 1px 2px #000000;
}

.playfair4 {
    color: #f0eeef;
}

.avatar-imm4 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    pointer-events: auto;
}

.avatar-imm4 img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid #390d27;
    box-shadow: 0 0 20px #2a0f1b;
    background-color: rgba(17, 2, 46, 0.7); 
}

/* media query*/
@media (min-width: 992px) {
    .avatar-img {
        width: 190px;
        height: 250px;
    }
}

@media (max-width: 576px) {
    /*pagina home*/
    .sfondo {
        padding: 30px 0;
    }

    .sfondo h1 {
        font-size: 4.5rem;
        letter-spacing: 5px;
        margin-top: 30vh;
    }

    /*pulsanti pagina home*/
    .btn-dark {
        margin-bottom: 30vh;
        font-size: 1.2rem;
        padding: 10px 25px;
    }

    .btn-info-game {
        top: 15px;
        right: 15px;
        width: 55px;
        height: 55px;
    }

    .btn-info-game span {
        font-size: 200%;
    }

    .btn-music-game {
        top: 15px;
        right: 15px;
        width: 55px;
        height: 55px;
    }

    .btn-music-game span, .btn-music-gameT span {
        font-size: 200%;
    }

    .btn-leaderboard-game {
        top: 15px;
        right: 125px;
        width: 55px;
        height: 55px;
    }

    .btn-leaderboard-game span {
        font-size: 200%;
    }

    /*pagina login*/
    .userform {
        font-size: 1.1rem;
        padding: 15px;
    }

    .userform h3 {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 15px;
    }

    .avatar-img {
        width: 110px;
        height: 150px;
    }

    .avatar-grid-mobile {
        max-width: 250px;
        margin: 0 auto;
    }

    .userform > div.col-auto {
        margin-top: 5vh;
    }

    .btn-music-gameT {
        top: 15px;
        right: 15px;
        width: 55px;
        height: 55px;
    }

    .btn-home {
        top: 10px;
        left: 10px;
        padding: 4px 10px;
        font-size: 1.8rem;
    }

    .avatar-minimappa {
        top: 10px;
        left: 10px;
        padding: 3px;
    }
    #avatarAngoloImg {
        width: 40px;
        height: 40px;
    }
}


